Stadium_Trip/Stadium_Trip.pro.user.37b0c9e.18
Stadium_Trip/untitled/main.cpp
Stadium_Trip/untitled/untitled.pro
*.o
build-Stadium_Trip-External_Hard_Drive-Debug/Makefile
*.Debug
build-Stadium_Trip-External_Hard_Drive-Debug/ui_mainwindow.h
build-Stadium_Trip-External_Hard_Drive-Debug/object_script.Stadium_Trip.Release
build-Stadium_Trip-External_Hard_Drive-Debug/Makefile.Release
build-Stadium_Trip-External_Hard_Drive-Debug/ui_adminwindow.h
build-Stadium_Trip-External_Hard_Drive-Debug/debug/Stadium_Trip.exe
build-Stadium_Trip-External_Hard_Drive-Debug/debug/qrc_Images.cpp
build-Stadium_Trip-External_Hard_Drive-Debug/debug/moc_mainwindow.cpp
build-Stadium_Trip-External_Hard_Drive-Debug/debug/moc_adminwindow.cpp
Stadium_Trip/object_script.Stadium_Trip.Release
Stadium_Trip/Makefile
*.pro
*.user
*.pro
Stadium_Trip/Stadium_Trip.pro
Stadium_Trip/Stadium_Trip.pro.user.16
*.pro